<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css"> 
</head>
<body>
    <div class="banner">
        <h1 class="title" data-text="Youtube Download"><i class="fa fa-music"></i> Descargador de videos <i class="fa fa-music"></i></h1>
        <form method="POST">
<p>Ingrese el link del video <input class="form-control" type="text" required name="url"> </p>
<button type="submit" class="btn " formaction="/envia">Descargar en MP4</button>
<button type="submit" class="btn-2" formaction="/envia2">Descargar en MP3</button>
        </form>
        <div class="left">
            <img src="" alt="">
        </div>
    </div>
</body>
</html>
